@model List<Form>
@{
}

<h2 class ="text-center mb-5"></h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Form" asp-action="Create">New Request</a>
    </div>
    <div class="col">

    </div>
</div>

<table class = "table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Subject</th>
            <th>Category</th>
            <th>Building</th>
            <th>Company</th>
            <th>Description</th>
            <th>Attachment</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Id</td>
                <td>@form.Name</td>
                <td>@form.Email</td>
                <td>@form.PhoneNumber</td>
                <td>@form.Subject</td>
                <td>@form.Category</td>
                <td>@form.Building</td>
                <td>@form.Company</td>
                <td>@form.Description</td>
                <td><img src="/form/@form.Attachment" width="100"/></td>
                <td>@form.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>Action</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Form" asp-action="Edit"
                        asp-route-id="@form.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Form" asp-action="Delete"
                        asp-route-id="@form.Id">Delete</a>
                </td>

            </tr>
        }
    </tbody>

</table>